#Titlebar {
    background-color: #efefef;
    font-size: 14px;
    line-height: 20px;
    margin: 0px 0px 20px;
  }
  .titlebar_list {
    padding: 8px 15px;
  }
  .titlebar_list-item {
    text-align: left;
    color: #878087;
    display: inline;
    font-weight: 300;
    cursor: pointer;

  }
  .titlebar_list-item span {
    color: #878087;
    display: inline;
    font-weight: 300;
    text-align: left;
  }
  /* Reponsive Mobile */
  @media screen and (max-width:500px){
    #Titlebar{
      width: 100%;
    }
  }
  /* Reponsive table and Moblie */
@media screen and (max-width:1024px) {
  #Titlebar{
    margin-top: 115px;
  }
}