.search_title {
  padding: 0px 10px;
  margin-bottom: 75px;
}
.search_title h1 {
  font-family: Open Sans;
  font-size: 24px;
  font-weight: 500;
  line-height: 33.6px;
  padding: 10px 0px;
  margin: 25px 0px;
  text-align: center;
}
#product_list{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-gap: 10px;
    margin-bottom: 30px;
}
/* Reponsive tablet pro */
@media screen and (max-width:1280px ) and (min-width:1024px) {
  #product_list{
    grid-template-columns: repeat(3,1fr);
  }
}
@media screen and (max-width:1023px) {
  #product_list{
    grid-template-columns: repeat(2,50%);
  }
}