.register_wrapper {
  font-size: 14px;
  line-height: 20px;
  padding: 0px 10px;
}
.user_box {
  background-color: #ffffff;
  border: 1px solid #eeeeee;
  box-shadow: #000000 0px 2px 4px 0px;

  margin: 0 auto;
  padding: 15px;
  width: 344px;

}
.account-title {
  font-family: Open Sans;
  font-size: 18px;
  font-weight: 500;
  line-height: 25.2px;

  margin: 0px 0px 20px;
  padding: 10px 0px;
  text-align: center;
}
.input {
  position: relative;
  display: table;
  width: 100%;
  margin-bottom: 15px;
}
.icon-field {
  background-color: #eeeeee;
  color: #cccccc;

  border: 1px solid #dddddd;
  display: table-cell;

  font-family: Open Sans;
  font-size: 14px;
  line-height: 14px;

  padding: 6px 12px;
  text-align: center;
}
.text {
  border: 1px solid #b5b5b5;

  display: inline-block;

  font-family: Open Sans;
  font-size: 14px;
  line-height: 20px;

  padding: 8px 15px;
  width: 100%;
}
.btn-signin {
    font-size: 14px;
    font-weight: 500;
    color: #fff;
    background: #034ea1;

    display: inline-block;
    text-decoration: none;

    width: 100%;
    height: 35px;
    
    text-align: center;
    border: none;
    border-radius: 0;
    margin-bottom: 15px;
    cursor: pointer;
}
