.banner{
    max-width: 1518px;
    margin: 0 auto;
    margin-bottom: 30px;
}
.banner_list {
  display: grid;
  grid-template-areas:
    "t1 t2 t2 t3 t3"
    "t1 t4 t5 t6 t7";
  grid-template-columns: repeat(5,1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-gap: 10px;
}
.banner_item {
  width: auto;
  height: auto;
  object-fit: cover;
}
.banner_item:nth-child(1) {
  grid-area: t1;
  max-width: 230px;
  max-height: 373px;
}
.banner_item:nth-child(2) {
  grid-area: t2;
  max-width: 450px;
  max-height: 181px;
}
.banner_item:nth-child(3) {
  grid-area: t4;
  max-width: 220px;
  max-height: 181px;
}
.banner_item:nth-child(4) {
  grid-area: t3;
  max-width: 450px;
  max-height: 181px;
}
.banner_item:nth-child(5) {
  grid-area: t5;
  max-width: 220px;
  max-height: 181px;
}
.banner_item:nth-child(6) {
  grid-area: t6;
  max-width: 220px;
  max-height: 181px;
}
.banner_item:nth-child(7) {
  grid-area: t7;
  max-width: 220px;
  max-height: 181px;
}
