.title_detail--order {
  color: #f72b3f;

  font-family: Open Sans;
  font-size: 18px;
  font-weight: 500;
  line-height: 25.2px;
  margin: 10px 0px;

  display: inline-block;
}
.user-box p {
  font-family: Open Sans;
  font-size: 14px;
  line-height: 24px;
  margin: 0px 0px 10px;
}
.product-oder-box {
  width: 100%;
  display: flex;
  grid-gap: 10px;
  justify-content: space-between;
  align-items: center;

  padding-bottom: 10px;
  border-bottom: 1px solid #ebebeb;
}
/* Status */
.product-oder-status span {
  width: 14px;
  height: 14px;
  display: inline-block;
  
}
.product-oder-status .cancel {
  background-color: rgb(158, 3, 3);
  border-radius: 50%;
  box-shadow: 0 0 20px rgb(158, 3, 3), 0 0 40px rgb(158, 3, 3),
    0 0 60px rgb(158, 3, 3), 0 0 80px rgb(158, 3, 3),
    0 0 0 8px rgba(255, 255, 0, 0.1);
}
.product-oder-status .pending {
  background-color: #128CB1;
  border-radius: 50%;
  box-shadow: 0 0 20px #128CB1, 0 0 40px #128CB1,
    0 0 60px #128CB1, 0 0 80px #128CB1,
    0 0 0 8px rgba(255, 255, 0, 0.1);
}
.product-oder-status .waiting {
  background-color: rgb(162, 162, 58);
  border-radius: 50%;
  box-shadow: 0 0 20px rgba(162, 162, 58), 0 0 40px rgba(162, 162, 58),
    0 0 60px rgb(162, 162, 58), 0 0 80px rgba(162, 162, 58),
    0 0 0 8px rgba(255, 255, 0, 0.1);
}
.product-oder-status .success {
  background-color: #3bb077;
  border-radius: 50%;
  box-shadow: 0 0 20px #3bb077, 0 0 40px #3bb077,
    0 0 60px #3bb077, 0 0 80px #3bb077,
    0 0 0 8px rgba(255, 255, 0, 0.1);
}

.product-oder-status {
  width: 100px;
}
.product-oder-status p {
  color: rgb(162, 162, 58);
  display: inline;
  padding-left: 10px;
  overflow-wrap: break-word;
}
/* product-oder-list */
.product-oder-list {
  display: flex;
  grid-gap: 10px;
  width: 370px;
  align-items: center;
  padding-bottom: 10px;
  border-bottom: 1px solid gray;
  justify-content: space-around;
}
.product-oder-list img {
  width: 84px;
  height: 84px;
  object-fit: cover;
}
.product-oder-box-list {
  overflow: auto;
  height: 100px;
  width: 40%;
}
.product-oder-decs {
  width: 50%;
}
/* product-oder-header */
.product-oder-header {
  /* width: 100%; */
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}
.product-oder-header h3 {
  color: black;
  font-weight: bold;
  font-size: 16px;
}

/* product-oder-singleBadge */
.product-oder-singleBadge input {
  cursor: pointer;
}
/* btn-oder */
.btn-oder {
  margin-top: 10px;
  float: right;
  color: white;
  background-color: #f72b3f;
  border-radius: 5px;
  border: none;
  padding: 10px;
  cursor: pointer;

  transition: all 0.5s ease;
}
.btn-oder:hover {
  background-color: blue;
}

/* Reponsive  */
@media screen and (max-width: 1024px) {
  .product-oder-header {
    display: none;
  }
  .product-oder-list {
    flex-direction: column;
  }
}
