.wish-list {
  border-bottom: 1px solid #e5e5e5;
}
.wish-item{
  width: 100%;
}
.wish-list td{
    vertical-align: middle;
}
.customer-wishlist-item-image {
  display: table-cell;

  font-size: 14px;
  line-height: 20px;

  padding: 20px 10px;
  text-align: center;
}
.customer-wishlist-item-info {
  display: table-cell;

  font-size: 14px;
  line-height: 20px;

  padding: 20px 10px;
  border: none;
}
.customer-wishlist-item-info a {
  display: block;

  font-family: Open Sans;
  font-size: 13px;
  font-weight: 700;
  line-height: 18.2px;
  text-transform: uppercase;

  color: black;
  text-align: left;
}
.customer-wishlist-item-info span {
  font-size: 11px;
  line-height: 15.7143px;

  text-align: left;
  display: block;
}
.customer-wishlist-item-info dt {
  font-family: Open Sans;
  font-size: 12px;
  line-height: 17.1429px;
  text-transform: capitalize;

  float: left;
  display: block;
  padding-right: 20px;
}
.customer-wishlist-item-info dd {
  font-family: Open Sans;
  font-size: 12px;
  font-weight: 700;
  line-height: 17.1429px;

  text-transform: capitalize;
  display: inline;
}
.customer-wishlist-item-quality {
  display: table-cell;

  font-size: 14px;
  line-height: 20px;

  padding: 20px 10px;
  text-align: center;
}
.customer-wishlist-item-price {
  display: table-cell;

  font-size: 14px;
  line-height: 20px;

  padding: 20px 10px;
  text-align: center;
}
.special-price {
  font-family: Open Sans;
  font-size: 12px;
  line-height: 24px;
  text-align: center;
}
.price {
  display: inline;
  font-size: 12px;
  line-height: 17.1429px;
  text-align: center;
}
.customer-wishlist-item-cart {
  display: table-cell;
  font-size: 14px;
  line-height: 20px;

  padding: 20px 10px;

}
.btn_cart {
  cursor: pointer;
  align-items: flex-start;
  background-color: #000000;
  color: #ffffff;

  display: inline-block;

  font-family: Open Sans;
  font-size: 12px;
  line-height: 17.1429px;
  text-align: center;
  text-transform: uppercase;

  padding: 5px;
}
.customer-wishlist-item-remove {
  display: table-cell;
  font-size: 14px;
  line-height: 20px;

  padding: 20px 10px;
}
.favorite_remove {
  display: inline-block;
  
  font-size: 20px;
  text-align: center;
  text-transform: uppercase;

  border: none;
  color: #000000;
  background-color: #ffffff;

  cursor: pointer;
}
.favorite_remove:hover {
  color: red;
}
.product_featured_image {
  width: 74px;
  height: 74px;
}
.Cart_quality {
  background-color: #ffffff;
  color: #757575;

  border-radius: 3px;
  border: 1px solid #b5b5b5;

  display: inline-block;

  font-family: Open Sans;
  font-size: 14px;
  line-height: 20px;
  
  padding: 6px 10px;
  text-align: center;
}
/* Reponsive mobile */
@media screen and (max-width:550px) {
  .customer-wishlist-item-info a{
    font-size: 11px;
  }
  .customer-wishlist-item-info dt{
    font-size: 8px;
  }
  .wish-list td{
    padding:10px 5px;
  }
  .customer-wishlist-item-quality input{
    font-size: 11px;
    padding:10px 5px;
  }
  .special-price span {
    font-size: 11px;
  }
}