.product_item {
  font-size: 14px;
  line-height: 20px;
  padding: 10px;
  width: 234px;
  height: 408px;
  cursor: pointer;
  transition: all 1s ease;
  position: relative;
  border: 1px solid #e1e1e1;
}
.product_item:hover {
  box-shadow: #000000 0px 0px 20px 0px;
  transform: translateY(-5px);
}
.product_item:hover .product_item-size {
  display: inline-block;
}
.product_item:hover .product_size-variant p {
  display: none;
}
.product_item:hover .product_item-addToCart {
  opacity: 1;
  visibility: visible;
}
.new {
  position: absolute;
  left: 15px;
  top: 15px;
  z-index: 9;
}
.image_Product {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.product_size-variant {
  margin-top: 5px;
  max-height: 55px;
  padding-bottom: 10px;
  border-bottom: 1px solid #d4d3d3;
  margin-bottom: 10px;
}
.product_size-variant p {
  font-weight: 300;
  font-size: 12px;
  line-height: 25px;
  transition: all 1s ease;
}
.product_item-size {
  font-size: 14px;
  line-height: 25px;
  margin: 0px 3px 0px 0px;
  padding: 0px 5px;
  text-align: center;
  display: none;
  transition: all 1s ease;
}
.product_item-name:hover {
  color: #f72b3f;
}
.product_item-name {
  color: #000000;
  display: block;
  font-weight: 500;
  line-height: 25px;

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-bottom: 3px;

  transition: all 1s ease;
}
.product_item-productType:hover {
  color: #f72b3f;
}
.product_item-productType {
  color: #212121;
  display: block;
  font-size: 11px;
  line-height: 15.7143px;
  margin-bottom: 5px;
  transition: all 1s ease;
}
.product_item-price {
  color: #ed4e4e;
  display: block;
  line-height: 22.8571px;
  margin-bottom: 10px;
}
.product_item-addToCart {
  align-items: flex-start;
  background-color: #f72b3f;
  color: #ffffff;
  display: inline-block;

  font-size: 13px;
  line-height: 18.5714px;
  padding: 9px 5px;
  text-align: center;

  width: 100%;
  border: none;
  cursor: pointer;

  opacity: 0;
  visibility: hidden;
  transition: all 0.6s ease;
}
/* Reponsive Moble */
@media screen and (max-width: 500px) {
  .product_item{
    width: 216px !important;
  }
}
/* Reponsize tablet */
@media screen and (min-width: 501px) and (max-width: 767px) {
  .product_item{
    width: 96% !important;
    height: 100% !important;
  }
}

@media screen and (max-width: 1024px) and (min-width: 768px) {
  .product_item{
    width: 96% !important;
    height: 98% !important;
  }
  .product_item-addToCart{
    display: none;
  }
}