.main {
  display: flex;
  flex-direction: column;
  padding: 56px 56px 0px 0px;
  width: 638px;
  height: 762px;
}
.field-input {
  width: 547px;
  background-color: #ffffff;
  border-radius: 4px;
  box-shadow: #d9d9d9 0px 0px 0px 1px;
  color: #333333;
  font-family: Helvetica Neue;
  font-size: 14px;
  padding: 13.16px 39.2px 13.16px 11.2px;
}
.logo_text img {
  width: 200px;
  height: 80px;
  object-fit: cover;
}
.breadcrumb {
  margin: 14px 0px 30px;
}
.breadcrumb-item {
  color: #999999;
  display: inline-block;
  font-size: 16px;
  text-align: left;
  padding-right: 10px;
}
.breadcrumb-item-current {
  color: #4d4d4d;
  font-weight: 500;
}
.breadcrumb-item a {
  color: #338dbc;
  cursor: pointer;
}
.section_title {
  color: #333333;
  font-size: 20px;
  font-weight: 500;
  line-height: 17.9999px;
  margin-bottom: 26px;
}
.section_text {
  cursor: pointer;
  font-size: 16px;
  line-height: 21px;
  margin: 0px 0px 10.5px;
  display: block;
}
.section_text a {
  color: #338dbc;
  display: inline-block;
}
.section_content {
  margin: -0.45em;
  zoom: 1;
}
.field {
  width: 100%;
  float: left;
  padding: 0.45em;
  box-sizing: border-box;
}

.btn-addPaymentMethods {
  color: #338dbc;
  display: inline;
  /* width: 278px; */
  float: right;
}
.btn-addPaymentMethods {
  background-color: #338dbc;
  border-radius: 4px;
  border: none;

  color: #ffffff;
  font-family: Helvetica Neue;

  font-weight: 500;
  padding: 19.6px 23.8px;
  cursor: pointer;
}
.btn-addPaymentMethods span {
  color: #ffffff;
  display: inline;
  font-size: 14px;
  font-weight: 500;
  text-align: center;
}
.step_footer a{
  display: inline;
}