.Cart_title {
  padding: 0px 10px;
}
.Cart_title h1 {
  font-family: Open Sans;
  font-size: 24px;
  font-weight: 500;
  line-height: 33.6px;
  
  padding: 10px 0px;
  margin: 25px 0px;
  text-align: center;
}
.table-wislist {
  width: 100%;
  border-spacing: 0;
}
.table-wislist thead {
  border-bottom: 1px solid #000000;
}
.customer-wishlist-item-info:first-child {
  padding-left: 0;
  text-align: left;
}
.customer-wishlist-item-info {
  padding: 0 3px 20px;
  padding-top: 0;

  border-bottom: 1px solid #000;

  font-size: 12px;
  font-weight: normal;
  text-transform: uppercase;
  text-align: center;
}
.wish-empty {
  line-height: 22.8571px;
  font-size: 18px;

  padding: 30px 0px;
  text-align: center;
}
