.widgetLg {
  flex: 2;
  -webkit-box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
  padding: 20px;
  max-height: 320px;
  overflow: auto;
}

.widgetLgTitle {
  font-size: 22px;
  font-weight: 600;
}

.widgetLgTable {
  width: 100%;
  border-spacing: 20px;
  margin-top: 16px;
}
.widgetLgTh {
  text-align: left;
}

.widgetLgUser {
  display: flex;
  align-items: center;
  font-weight: 600;
}

.widgetLgImg {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 10px;
}

.widgetLgDate,
.widgetLgAmount {
  font-weight: 300;
  vertical-align: middle;
}

.widgetLgButton {
  padding: 5px 7px;
  border: none;
  border-radius: 10px;
}

.widgetLgButton.Success {
  background-color: #e5faf2;
  color: #3bb077;
  border: 1px solid #3bb077;
}
.widgetLgButton.Cancel {
  background-color: #fff0f1;
  color: #d95087;
  border: 1px solid #d95087;
}
.widgetLgButton.Pending {
  background-color: rgba(230, 24, 17, 0.272);
  color: rgb(158, 3, 3);
  border: 1px solid rgb(158, 3, 3);
}
.widgetLgButton.Waiting {
  background-color: rgba(218, 205, 27, 0.36);
  color: rgb(218, 205, 27);
  border: 1px solid rgb(218, 205, 27);
}
.widgetLgStatus {
  vertical-align: middle;
}
