.slider_wrapper {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  padding: 0;

  display: flex;
  justify-content: center;
  align-content: center;
  margin-top: 88px;
}
.slider {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
}
.slides {
  width: 500%;
  height: 100%;
  display: flex;
}
.slide_image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.slides input {
  display: none;
}
.slide {
  width: 20%;
  transition: 2s;
  height: 100%;
}
.navigation_manual {
  position: absolute;
  width: 100%;
  margin-top: -39px;
  display: flex;
  justify-content: center;

  left: 50%;
  transform: translateX(-50%);
}
.manual-btn {
  border: 2px solid #40d3dc;
  padding: 5px;
  border-radius: 10px;
  cursor: pointer;
  transition: 1s;
}
.manual-btn:not(:last-child) {
  margin-right: 40px;
}
.manual-btn:hover {
  background-color: #40d3dc;
}

#radio1:checked ~ .first {
  margin-left: 0;
}
#radio2:checked ~ .first {
  margin-left: -20%;
}
#radio3:checked ~ .first {
  margin-left: -40%;
}
#radio4:checked ~ .first {
  margin-left: -60%;
}

.navigation_auto {
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: center;
  top: 92.6%;

  left: 50%;
  transform: translateX(-50%);
}
.navigation_auto div {
  border: 2px solid #40d3dc;
  padding: 5px;
  border-radius: 10px;
  transition: 1s;
}
.navigation_auto div:not(:last-child) {
  margin-right: 40px;
}
#radio1:checked ~ .navigation_auto .auto-btn1 {
  background: #40d3dc;
}
#radio2:checked ~ .navigation_auto .auto-btn2 {
  background: #40d3dc;
}
#radio3:checked ~ .navigation_auto .auto-btn3 {
  background: #40d3dc;
}
#radio4:checked ~ .navigation_auto .auto-btn4 {
  background: #40d3dc;
}
/* Reponsive Window */
@media screen and (min-width:1280px) {
  .slide{
    height: 523.26px;
  }
}
/* Reponsive moble */
@media screen and (max-width:768px) {
  .slider_wrapper{
    width: 100%;
    height: 259.88px;
    margin-top:118px;
  }
  .navigation_auto{
    top: 85%;
  }
  
}
/* Reponsize tablet */
@media screen and (max-width: 1024px) and (min-width:768px){
  .slider_wrapper{
    width: 100%;
    height: 344px;
    margin-top:118px;
  }
  .navigation_auto{
    top:89%;
  }
}
/* Reponsize tablet pro */
@media screen and (min-width: 1024px) and (max-width:1280px){
  .slider_wrapper{
    width: 100%;
    height: 439px;
    margin-top:88px;
  }
  .navigation_auto{
    top:90.9%;
  }
}