.register_wrapper {
  font-size: 14px;
  line-height: 20px;
  padding: 0px 10px;
}
.user_box {
  background-color: #ffffff;
  border: 1px solid #eeeeee;
  box-shadow: #000000 0px 2px 4px 0px;

  margin: 20px 407.5px 0px;
  padding: 15px;
  width: 31%;
}
.account-title {
  font-family: Open Sans;
  font-size: 18px;
  font-weight: 500;
  line-height: 25.2px;

  margin: 0px 0px 20px;
  padding: 10px 0px;
  text-align: center;
}
.input {
  position: relative;
  display: table;
  width: 100%;
  margin-bottom: 15px;
}
.icon-field {
  background-color: #eeeeee;
  color: #cccccc;

  border: 1px solid #dddddd;
  display: table-cell;

  font-family: Open Sans;
  font-size: 14px;
  line-height: 14px;

  padding: 6px 12px;
  text-align: center;
}
.text {
  border: 1px solid #b5b5b5;

  display: inline-block;

  font-family: Open Sans;
  font-size: 14px;
  line-height: 20px;

  padding: 8px 15px;
}
.btn-signin {
  font-size: 14px;
  font-weight: 500;
  color: #fff;
  background: #034ea1;

  display: inline-block;
  text-decoration: none;

  width: 100%;
  height: 35px;

  text-align: center;
  border: none;
  border-radius: 0;
  margin-bottom: 15px;

  cursor: pointer;
}
.req_pass {
  text-align: center;
}
.req_pass a {
  display: inline;
  font-family: Open Sans;
  font-size: 13px;
  line-height: 18.5714px;

  text-align: center;
  color: #000000;
  transition: all 0.5s ease;
}
.req_pass a:hover {
  color: red;
}
.req_pass button{
  border-radius: 5px;
  border: none;
  background-color: transparent;
  color: blue;
  padding: 5px;
  cursor: pointer;
  transition: all 0.5s ease;
}
.req_pass button:hover{
  color: red;
}
#btn-facebook-login:hover span{
    transform: translateX(25px);

}
#btn-google-login:hover span{
    transform: translateX(25px);

}
#btn-facebook-login {
  border-radius: 100px;
  border: 1px solid #4b6ea9;
  color: #4b6ea9;

  display: flex;
  justify-content: flex-start;
  align-items: center;
  grid-gap: 10px;

  cursor: pointer;
  margin-top: 20px;
  width: 100%;
}
#btn-facebook-login img {
  display: inline-block;
  width: 40px;
}
#btn-facebook-login span {
  color: #4b6ea9;
  display: inline-block;

  font-size: 13px;
  line-height: 18.5714px;
  text-align: left;
  transition: all 1s ease;
}
#btn-google-login {
  border-radius: 100px;
  border: 1px solid #e5604c;
  color: #e5604c;

  display: flex;
  justify-content: flex-start;
  align-items: center;
  grid-gap: 10px;

  cursor: pointer;
  margin-top: 20px;
  width: 100%;


}
#btn-google-login img {
  display: inline-block;
  width: 40px;
}
#btn-google-login span {
  color: #e5604c;
  display: inline-block;

  font-size: 13px;
  line-height: 18.5714px;
  text-align: left;
  transition: all 1s ease;
}
#message-error{
  color:  red;
  font-size: 14px;
  margin-bottom: 10px;
  display: block;
  text-align: center;
}