.DashBoardMessenger {
  width: 80vw;
  height: 90vh;
  border: 1px solid #e0e0e0;
  border-radius: 10px;
}
/* DashBoardMessenger header */
.DashBoardMessenger-header {
  width: 100%;
  height: 50px;
  border: 1px solid #e0e0e0;
  border-radius: 10px 10px 0px 0px;
}
.DashBoardMessenger-header h1 {
  padding: 15px 30px 0px;
  color: blue;
  font-size: 25px;
  font-family: 500;
}
/* DashBoardMessenger body */
.DashBoardMessenger-body {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}
/* DashBoardMessenger list user */
.DashBoardMessenger-listUser {
  height: 83vh;
  border: 1px solid #e0e0e0;
  width: 25%;
}
.DashBoardMessenger-listUser-search-box {
  padding-bottom: 20px;
  border-bottom: 1px solid #e0e0e0;
  padding: 20px;
}
.DashBoardMessenger-listUser-search {
  border-radius: 20px;
  border: 1px solid #e0e0e0;
}
.DashBoardMessenger-listUser-search input {
  padding: 5px;
  padding-left: 15px;
  border: none;
  border-radius: 20px;
}
.DashBoardMessenger-listUser-users {
  width: 100%;
  height: 75%;
  padding: 10px;
  overflow: auto;
}
.DashBoardMessenger-listUser-user {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  grid-gap: 10px;
  cursor: pointer;
  margin-bottom: 10px;
}
.DashBoardMessenger-listUser-user img {
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 50%;
}
.DashBoardMessenger-listUser-user-contact h2 {
  font-size: 18px;
  font-weight: 500;
  padding-top: 5px;
}
.DashBoardMessenger-listUser-user-contact p {
  width: 120px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.DashBoardMessenger-listUser-admin {
  border-top: 1px solid #e0e0e0;
  padding: 20px;
}
.DashBoardMessenger-listUser-admin h2 {
  font-weight: 600;
  font-size: 14px;
}
.DashBoardMessenger-listUser-admin p {
  font-weight: 600;
  font-size: 14px;
  word-break: break-word;
}
.connection {
  background-color: green;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  display: inline-block;
  margin-left: 20px;
}
.disconnection {
  background-color: rgba(255, 255, 0, 0.843);
  width: 10px;
  height: 10px;
  border-radius: 50%;
  display: inline-block;
  margin-left: 20px;
}
.ListUser-Active {
  background-color: rgba(202, 199, 199, 0.843);
  border-radius: 10px;
}
/* DashBoardMessenger context */
.DashBoardMessenger-context-box {
  padding: 15px;
  width: 100%;
  height: 631px;
  display: flex;
  align-items: flex-start;
}
.DashBoardMessenger-context {
  border: 1px solid #e0e0e0;
  width: 100%;
  height: 100%;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}
/* DashBoardMessenger context header */
.DashBoardMessenger-context-header {
  padding: 20px;
  border-bottom: 1px solid #e0e0e0;
}
.DashBoardMessenger-context-header h2 {
  font-size: 20px;
  font-weight: 500;
  display: inline-block;
}
.DashBoardMessenger-context-header span {
  float: right;
  font-size: 20px;
  font-weight: 500;
  cursor: pointer;
}
/* DashBoardMessenger context body */
.DashBoardMessenger-context-body {
  width: 100%;
  height: 80%;
  overflow: auto;
  padding-top: 10px;
}
/* DashBoardMessenger context footer */
.DashBoardMessenger-context-footer {
  border-top: 1px solid #e0e0e0;
  padding: 10px;
}
.DashBoardMessenger-context-footer-button {
  float: right;
  border: none;
  font-size: 30px;
  background-color: transparent;
  color: #3a3b3c;
  cursor: pointer;
}
.DashBoardMessenger-context-footer-input {
  margin-top: 2px;
  padding: 4px 10px;
  color: #e4e6eb;
  font-size: 15px;
  background-color: #3a3b3c;
  border-radius: 20px;
  border: 1px solid #242526;
  width: 40%;
  margin-left: 50%;
}
